In [17]:
import pandas as pd
import os

df = pd.read_csv("labels/Anno_coarse/list_bbox.txt", delim_whitespace=True, header=1)
df.head()

file_path = 'labels/Anno_coarse/list_attr_cloth.txt'

transformed_lines = []
with open(file_path, 'r') as file:
    for line in file:
        transformed_line = re.sub(r' (?=\S)(?!\d)', '_', line.strip())
        transformed_line = transformed_line.title()
        transformed_lines.append(transformed_line)

data = '\n'.join(transformed_lines)
data = StringIO(data)

raw_attributes = pd.read_csv(data, sep='\s+', header=1)
column_names = ['attribute_name', 'attribute_type']
raw_attributes.columns = column_names
raw_attributes.head(10)

count_values = []
for row in raw_attributes.itertuples():
    attribute_name = getattr(row, 'attribute_name')
    attribute_type = getattr(row, 'attribute_type')
    count = df['image_name'].str.contains(attribute_name, regex=True).sum()  # Counts the number of True values
    count_values.append([attribute_name, attribute_type, count])  # Store texture and its count

count_df = pd.DataFrame(count_values, columns=['attribute_name', 'attribute_type', 'count'])
count_df

selected_rows = []  # A list to hold the rows that meet the condition
for row in count_df.itertuples():
    if row.count > 1000:
        selected_rows.append(row)  # Append the row as a dictionary

attribute = pd.DataFrame(selected_rows)
attribute.drop(columns=['Index'], inplace=True)
attribute

texture = attribute[attribute['attribute_type'] == 1]
fabric = attribute[attribute['attribute_type'] == 2]
shape = attribute[attribute['attribute_type'] == 3]
part = attribute[attribute['attribute_type'] == 4]
style = attribute[attribute['attribute_type'] == 5]

texture = texture.reset_index(drop=True) # Reset the index
texture = texture.reset_index(drop=False) # Display the index
texture = texture.drop(columns=['count','attribute_type'])
texture.head()

fabric = fabric.reset_index(drop=True) # Reset the index
fabric = fabric.reset_index(drop=False) # Display the index
fabric = fabric.drop(columns=['count','attribute_type'])
fabric.head()

shape = shape.reset_index(drop=True) # Reset the index
shape = shape.reset_index(drop=False) # Display the index
shape = shape.drop(columns=['count','attribute_type'])
shape.head()

part = part.reset_index(drop=True) # Reset the index
part = part.reset_index(drop=False) # Display the index
part = part.drop(columns=['count','attribute_type'])
part.head()

style = style.reset_index(drop=True) # Reset the index
style = style.reset_index(drop=False) # Display the index
style = style.drop(columns=['count','attribute_type']) 
style.head()

def creer_fichier(chemin_fichier):
    '''Créer les dossier et fichiers nécessaires pour le fichier txt ou les images
    chemin_fichier : str'''
    dossier = os.path.dirname(chemin_fichier)
    if not os.path.exists(dossier):
        os.makedirs(dossier)

def creer_csv(content, chemin_fichier, new_column_names=None):
    creer_fichier(chemin_fichier)
    if new_column_names:
        content = content.rename(columns=new_column_names)
    content.to_csv(chemin_fichier, index=False)

path = 'labels/database_csv/'
creer_csv(texture, path + 'texture.csv', {'index': 'id_texture', 'attribute_name': 'texture'})
creer_csv(fabric, path + 'fabric.csv', {'index': 'id_fabric', 'attribute_name': 'fabric'})
creer_csv(shape, path +'shape.csv', {'index': 'id_shape', 'attribute_name': 'shape'})
creer_csv(part, path +'part.csv', {'index': 'id_part', 'attribute_name': 'part'})
creer_csv(style, path +'style.csv', {'index': 'id_style', 'attribute_name': 'style'})

category = pd.read_csv('labels/Anno_coarse/categories.txt', header=0)
category.head()

def inverser_colonnes(df, col1, col2):
    # Copie de la liste des noms de colonnes pour éviter de modifier l'original
    cols = df.columns.tolist()
    # Obtenir les indices des colonnes à échanger
    idx1, idx2 = cols.index(col1), cols.index(col2)
    # Échanger les noms des colonnes
    cols[idx1], cols[idx2] = cols[idx2], cols[idx1]
    # Réaffecter l'ordre modifié au DataFrame
    df = df[cols]
    return df

category = inverser_colonnes(category, 'category_name', 'category_type')
category.head()

creer_csv(category, 'labels/database_csv/category.csv', {'category_type': 'id_category', 'category_name': 'category'})

marque = pd.DataFrame({'id_brand': [0, 1, 2, 3, 4 , 5, 6, 7, 8, 9], 'brand': ['Zara', 'H&M', 'Forever 21', 'Asos', 'Jennifer', 'Promod', 'Uniqlo', 'Pull&Bear', 'ESPRIT', 'Primark']})
creer_csv(marque, 'labels/database_csv/brand.csv')

size = pd.DataFrame({'id_size': [0, 1, 2, 3, 4, 5, 6], 'size': ['XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL']})
creer_csv(size, 'labels/database_csv/size.csv')

df = pd.read_csv("labels/Anno_coarse/list_bbox.txt", delim_whitespace=True, header=1)

df = df.drop(columns=['x_1', 'y_1', 'x_2', 'y_2'])
df.rename(columns={'image_name': 'absolute_path'}, inplace=True)
df.head()

for row in df.itertuples():
    absolute_path = getattr(row, 'absolute_path')
    absolute_path = absolute_path.split('/')[1:-1]
    absolute_path = '/'.join(absolute_path)
    df.at[row.Index, 'absolute_path'] = absolute_path
    image_name = absolute_path.split('/')[1]
    df.at[row.Index, 'image_name'] = image_name
df.head()

for row in df.itertuples():
    attributes = row.image_name.split('_')
    df.at[row.Index, 'attributes'] = attributes
df.head()

for row in df.itertuples():
    for attribute in row.attributes:
        if not category[category['category_name'].str.contains(str(attribute), regex=True)].empty :
            num = category[category['category_name'].str.contains(str(attribute), regex=True)].index[0]
            df.at[row.Index, 'category'] = num
        if not texture[texture['attribute_name'].str.contains(str(attribute), regex=True)].empty :
            num = texture[texture['attribute_name'].str.contains(str(attribute), regex=True)].index[0]
            df.at[row.Index, 'texture'] = num
        if not fabric[fabric['attribute_name'].str.contains(str(attribute), regex=True)].empty :
            num = fabric[fabric['attribute_name'].str.contains(str(attribute), regex=True)].index[0]
            df.at[row.Index, 'fabric'] = num
        if not shape[shape['attribute_name'].str.contains(str(attribute), regex=True)].empty :
            num = shape[shape['attribute_name'].str.contains(str(attribute), regex=True)].index[0]
            df.at[row.Index, 'shape'] = num
        if not part[part['attribute_name'].str.contains(str(attribute), regex=True)].empty :
            num = part[part['attribute_name'].str.contains(str(attribute), regex=True)].index[0]
            df.at[row.Index, 'part'] = num
        if not style[style['attribute_name'].str.contains(str(attribute), regex=True)].empty :
            num = style[style['attribute_name'].str.contains(str(attribute), regex=True)].index[0]
            df.at[row.Index, 'style'] = num
df.head(10)

df.drop(columns=['attributes'], inplace=True)
df.drop(columns=['image_name'], inplace=True)
df['id_clothes'] = range(0, len(df))  # Starts the ID from 1 to the length of DataFrame
df.head()

cols = df.columns.tolist()
# Obtenir les indices des colonnes à échanger
idx1, idx2, idx3, idx4, idx5, idx6, idx7 = cols.index('fabric'), cols.index('category'), cols.index('texture'), cols.index('part'), cols.index('style'), cols.index('shape'), cols.index('id_clothes')
# Échanger les noms des colonnes
cols[idx1], cols[idx2], cols[idx3], cols[idx4], cols[idx5], cols[idx6], cols[idx7] = cols[idx7], cols[idx2], cols[idx3], cols[idx1], cols[idx6], cols[idx4], cols[idx5]
# Réaffecter l'ordre modifié au DataFrame
df = df[cols]

creer_csv(df, 'labels/database_csv/clothes.csv', {'id_clothes': 'id_clothes', 'category': 'id_category', 'texture': 'id_texture', 'fabric': 'id_fabric', 'shape': 'id_shape', 'part': 'id_part', 'style': 'id_style'})

import random
for row in df.itertuples():
    brand = random.randint(0, 9)
    size = random.randint(0, 6)
    df.at[row.Index, 'brand'] = int(brand)
    df.at[row.Index, 'size'] = int(size)
df.head()

df['category'] = df['category'].astype('int8')
df['texture'] = df['texture'].astype('int8')
df['fabric'] = df['fabric'].astype('int8')
df['shape'] = df['shape'].astype('int8')
df['part'] = df['part'].astype('int8')
df['style'] = df['style'].astype('int8')
df['brand'] = df['brand'].astype('int8')
df['size'] = df['size'].astype('int8')
df.head()

creer_csv(df, 'labels/database_csv/clothes.csv', {'id_clothes': 'id_clothes', 'category': 'id_category', 'texture': 'id_texture', 'fabric': 'id_fabric', 'shape': 'id_shape', 'part': 'id_part', 'style': 'id_style', 'brand': 'id_brand', 'size': 'id_size'})

In [18]:
def creer_fichier(chemin_fichier):
    '''Créer les dossier et fichiers nécessaires pour le fichier txt ou les images
    chemin_fichier : str'''
    dossier = os.path.dirname(chemin_fichier)
    if not os.path.exists(dossier):
        os.makedirs(dossier)

In [19]:
def creer_csv(content, chemin_fichier, new_column_names=None):
    creer_fichier(chemin_fichier)
    if new_column_names:
        content = content.rename(columns=new_column_names)
    content.to_csv(chemin_fichier, index=False)

In [20]:
def find_category(df, category_name):
    '''Trouver la catégorie de vêtement dans le DataFrame
    df : DataFrame des catégories
    category_name : str
    return : int'''
    
    return df[df['category_name'].str.contains(category_name)].category_type.values[0]

In [21]:
def inverser_colonnes(df, col1, col2):
    # Copie de la liste des noms de colonnes pour éviter de modifier l'original
    cols = df.columns.tolist()
    # Obtenir les indices des colonnes à échanger
    idx1, idx2 = cols.index(col1), cols.index(col2)
    # Échanger les noms des colonnes
    cols[idx1], cols[idx2] = cols[idx2], cols[idx1]
    # Réaffecter l'ordre modifié au DataFrame
    df = df[cols]
    return df

In [22]:
clothes = pd.read_csv('labels/Anno_coarse/list_category_img.txt', delim_whitespace=True, header=1)
clothes.drop(columns=['category_label'], inplace=True)
clothes.head()

C:\Users\elise\AppData\Local\Temp\ipykernel_35312\3929316270.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  clothes = pd.read_csv('labels/Anno_coarse/list_category_img.txt', delim_whitespace=True, header=1)

                                        image_name
0  img/Sheer_Pleated-Front_Blouse/img_00000001.jpg
1  img/Sheer_Pleated-Front_Blouse/img_00000002.jpg
2  img/Sheer_Pleated-Front_Blouse/img_00000003.jpg
3  img/Sheer_Pleated-Front_Blouse/img_00000004.jpg
4  img/Sheer_Pleated-Front_Blouse/img_00000005.jpg

In [33]:
category_df = pd.read_csv("labels/Anno_coarse/categories.txt", delimiter=",", header=0)
creer_csv(category_df, 'labels/database_csv/category.csv', {'category_type': 'id_category', 'category_name': 'category'})

In [24]:
marque = pd.DataFrame({'id_brand': [0, 1, 2, 3, 4 , 5, 6, 7, 8, 9], 'brand': ['Zara', 'H&M', 'Forever 21', 'Asos', 'Jennifer', 'Promod', 'Uniqlo', 'Pull&Bear', 'ESPRIT', 'Primark']})
creer_csv(marque, 'labels/database_csv/brand.csv')

In [25]:
size = pd.DataFrame({'id_size': [0, 1, 2, 3, 4, 5, 6], 'size': ['XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL']})
creer_csv(size, 'labels/database_csv/size.csv')

In [26]:
import random
for row in clothes.itertuples():
    brand = random.randint(0, 9)
    size = random.randint(0, 6)
    clothes.at[row.Index, 'brand'] = int(brand)
    clothes.at[row.Index, 'size'] = int(size)
    category_name = row.image_name.split('/')[1]
    category_name = category_name.split('_')[-1]
    clothes.at[row.Index, 'category'] = find_category(category_df, category_name)
clothes.head()

                                        image_name  brand  size  category
0  img/Sheer_Pleated-Front_Blouse/img_00000001.jpg    8.0   2.0       2.0
1  img/Sheer_Pleated-Front_Blouse/img_00000002.jpg    9.0   4.0       2.0
2  img/Sheer_Pleated-Front_Blouse/img_00000003.jpg    8.0   2.0       2.0
3  img/Sheer_Pleated-Front_Blouse/img_00000004.jpg    7.0   0.0       2.0
4  img/Sheer_Pleated-Front_Blouse/img_00000005.jpg    1.0   3.0       2.0

In [27]:
clothes

,image_name,brand,size,category
0,img/Sheer_Pleated-Front_Blouse/img_00000001.jpg,8.0,2.0,2.0
1,img/Sheer_Pleated-Front_Blouse/img_00000002.jpg,9.0,4.0,2.0
2,img/Sheer_Pleated-Front_Blouse/img_00000003.jpg,8.0,2.0,2.0
3,img/Sheer_Pleated-Front_Blouse/img_00000004.jpg,7.0,0.0,2.0
4,img/Sheer_Pleated-Front_Blouse/img_00000005.jpg,1.0,3.0,2.0
...,...,...,...,...
289217,img/Paisley_Print_Babydoll_Dress/img_00000050.jpg,3.0,5.0,39.0
289218,img/Paisley_Print_Babydoll_Dress/img_00000051.jpg,7.0,2.0,39.0
289219,img/Paisley_Print_Babydoll_Dress/img_00000052.jpg,3.0,5.0,39.0
289220,img/Paisley_Print_Babydoll_Dress/img_00000053.jpg,4.0,2.0,39.0
289221,img/Paisley_Print_Babydoll_Dress/img_00000054.jpg,3.0,6.0,39.0

In [28]:
clothes['id_clothes'] = range(0, len(clothes))

In [29]:
clothes = inverser_colonnes(clothes, 'image_name', 'id_clothes')
clothes.head()

,id_clothes,brand,size,category,image_name
0,0,8.0,2.0,2.0,img/Sheer_Pleated-Front_Blouse/img_00000001.jpg
1,1,9.0,4.0,2.0,img/Sheer_Pleated-Front_Blouse/img_00000002.jpg
2,2,8.0,2.0,2.0,img/Sheer_Pleated-Front_Blouse/img_00000003.jpg
3,3,7.0,0.0,2.0,img/Sheer_Pleated-Front_Blouse/img_00000004.jpg
4,4,1.0,3.0,2.0,img/Sheer_Pleated-Front_Blouse/img_00000005.jpg

In [30]:
clothes["category"] = clothes["category"].astype('int8')
clothes["brand"] = clothes["brand"].astype('int8')
clothes["size"] = clothes["size"].astype('int8')
clothes.head()

,id_clothes,brand,size,category,image_name
0,0,8,2,2,img/Sheer_Pleated-Front_Blouse/img_00000001.jpg
1,1,9,4,2,img/Sheer_Pleated-Front_Blouse/img_00000002.jpg
2,2,8,2,2,img/Sheer_Pleated-Front_Blouse/img_00000003.jpg
3,3,7,0,2,img/Sheer_Pleated-Front_Blouse/img_00000004.jpg
4,4,1,3,2,img/Sheer_Pleated-Front_Blouse/img_00000005.jpg

In [31]:
creer_csv(clothes, 'labels/database_csv/clothes.csv', {'id_clothes': 'id_clothes', 'category': 'id_category', 'brand': 'id_brand', 'size': 'id_size', 'image_name': 'absolute_path'})