In [1]:
import os
from PIL import Image
import pandas as pd
import numpy as np

In [2]:
def creer_fichier(chemin_fichier):
    '''Créer les dossier et fichiers nécessaires pour le fichier txt ou les images
    chemin_fichier : str'''

    dossier = os.path.dirname(chemin_fichier)
    if not os.path.exists(dossier):
        os.makedirs(dossier)

In [3]:
def find_path(row):
    
    chemin = row.image_name.replace('img/', '')
    #chemin = chemin.replace('/', '_')

    chemin_img_arrivee = 'otherdata2/' + chemin
    creer_fichier(chemin_img_arrivee)
    
    return chemin_img_arrivee

In [4]:
def find_category(df, category_name):
    '''Trouver la catégorie de vêtement dans le DataFrame
    df : DataFrame des catégories
    category_name : str
    return : int'''
    
    return df[df['image_name'].str.contains(category_name)]

In [5]:
def truncate_images(df):
    for row in df.itertuples():
        chemin_depart = 'data/' + row.image_name
        chemin_arrivee = find_path(row)
        im = np.array(Image.open(chemin_depart))
        im_trim1 = im[row.y_1:row.y_2, row.x_1:row.x_2]
        Image.fromarray(im_trim1).save(chemin_arrivee)

In [6]:
images = pd.read_csv('labels/Anno_coarse/list_bbox.txt', delim_whitespace=True, header=1)
images.head()

C:\Users\elise\AppData\Local\Temp\ipykernel_23640\4195364325.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  images = pd.read_csv('labels/Anno_coarse/list_bbox.txt', delim_whitespace=True, header=1)

                                        image_name  x_1  y_1  x_2  y_2
0  img/Sheer_Pleated-Front_Blouse/img_00000001.jpg   72   79  232  273
1  img/Sheer_Pleated-Front_Blouse/img_00000002.jpg   67   59  155  161
2  img/Sheer_Pleated-Front_Blouse/img_00000003.jpg   65   65  156  200
3  img/Sheer_Pleated-Front_Blouse/img_00000004.jpg   51   62  167  182
4  img/Sheer_Pleated-Front_Blouse/img_00000005.jpg   46   88  166  262

In [7]:
tee = find_category(images, 'Tee')
blouse = find_category(images, 'Blouse')
dress = find_category(images, 'Dress')

In [8]:
blouse

                                             image_name  x_1  y_1  x_2  y_2
0       img/Sheer_Pleated-Front_Blouse/img_00000001.jpg   72   79  232  273
1       img/Sheer_Pleated-Front_Blouse/img_00000002.jpg   67   59  155  161
2       img/Sheer_Pleated-Front_Blouse/img_00000003.jpg   65   65  156  200
3       img/Sheer_Pleated-Front_Blouse/img_00000004.jpg   51   62  167  182
4       img/Sheer_Pleated-Front_Blouse/img_00000005.jpg   46   88  166  262
...                                                 ...  ...  ...  ...  ...
32846  img/Sheer_Lace_&_Chiffon_Blouse/img_00000130.jpg   73   77  182  279
32847  img/Sheer_Lace_&_Chiffon_Blouse/img_00000131.jpg    1    7  178  300
32848  img/Sheer_Lace_&_Chiffon_Blouse/img_00000132.jpg   42   69  205  267
32849  img/Sheer_Lace_&_Chiffon_Blouse/img_00000133.jpg   73   31  300  300
32850  img/Sheer_Lace_&_Chiffon_Blouse/img_00000134.jpg   42    2  259  208

[24557 rows x 5 columns]

In [9]:
truncate_images(tee.head(100))
truncate_images(blouse.head(100))
truncate_images(dress.head(100))

In [10]:
jeans = find_category(images, 'Jeans')
truncate_images(jeans.head(100))

In [11]:
skirt = find_category(images, 'Skirt')
truncate_images(skirt.head(100))