In [45]:
import os
from PIL import Image
import pandas as pd
import numpy as np

In [46]:
def creer_fichier(chemin_fichier):
    '''Créer les dossier et fichiers nécessaires pour le fichier txt ou les images
    chemin_fichier : str'''

    dossier = os.path.dirname(chemin_fichier)
    if not os.path.exists(dossier):
        os.makedirs(dossier)

In [47]:
def find_path(row):
    
    #chemin = row.image_name.replace('img/', '')
    #chemin = chemin.replace('/', '_')

    chemin_img_arrivee = 'data/cropped/' + row.image_name
    creer_fichier(chemin_img_arrivee)
    
    return chemin_img_arrivee

def find_category(df, category_name):
    '''Trouver la catégorie de vêtement dans le DataFrame
    df : DataFrame des catégories
    category_name : str
    return : int'''
    
    return df[df['image_name'].str.contains(category_name)]

In [48]:
def truncate_images(df):
    for row in df.itertuples():
        chemin_depart = 'data/' + row.image_name
        chemin_arrivee = find_path(row)
        im = np.array(Image.open(chemin_depart))
        im_trim1 = im[row.y_1:row.y_2, row.x_1:row.x_2]
        Image.fromarray(im_trim1).save(chemin_arrivee)

In [49]:
images = pd.read_csv('labels/Anno_coarse/list_bbox.txt', delim_whitespace=True, header=1)
images

C:\Users\elise\AppData\Local\Temp\ipykernel_23640\1322832829.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  images = pd.read_csv('labels/Anno_coarse/list_bbox.txt', delim_whitespace=True, header=1)

                                               image_name  x_1  y_1  x_2  y_2
0         img/Sheer_Pleated-Front_Blouse/img_00000001.jpg   72   79  232  273
1         img/Sheer_Pleated-Front_Blouse/img_00000002.jpg   67   59  155  161
2         img/Sheer_Pleated-Front_Blouse/img_00000003.jpg   65   65  156  200
3         img/Sheer_Pleated-Front_Blouse/img_00000004.jpg   51   62  167  182
4         img/Sheer_Pleated-Front_Blouse/img_00000005.jpg   46   88  166  262
...                                                   ...  ...  ...  ...  ...
289217  img/Paisley_Print_Babydoll_Dress/img_00000050.jpg    1    1  300  300
289218  img/Paisley_Print_Babydoll_Dress/img_00000051.jpg   14   58  225  277
289219  img/Paisley_Print_Babydoll_Dress/img_00000052.jpg   18   41  149  230
289220  img/Paisley_Print_Babydoll_Dress/img_00000053.jpg   75   47  220  300
289221  img/Paisley_Print_Babydoll_Dress/img_00000054.jpg   36   63  202  296

[289222 rows x 5 columns]

In [50]:
images[images['image_name'].str.contains('Cr&egrave;me_De_La_Cr&egrave;me_Muscle_Tee')]

                                              image_name  x_1  y_1  x_2  y_2
74835  img/Cr&egrave;me_De_La_Cr&egrave;me_Muscle_Tee...  161   30  174   80
74836  img/Cr&egrave;me_De_La_Cr&egrave;me_Muscle_Tee...   43  119   98  213
74837  img/Cr&egrave;me_De_La_Cr&egrave;me_Muscle_Tee...   71   64  136  206
74838  img/Cr&egrave;me_De_La_Cr&egrave;me_Muscle_Tee...    8    2  300  300
74839  img/Cr&egrave;me_De_La_Cr&egrave;me_Muscle_Tee...   10   63  111  151
74840  img/Cr&egrave;me_De_La_Cr&egrave;me_Muscle_Tee...  122   12  217  158
74841  img/Cr&egrave;me_De_La_Cr&egrave;me_Muscle_Tee...   57   44  158  121
74842  img/Cr&egrave;me_De_La_Cr&egrave;me_Muscle_Tee...    1  176  300  200
74843  img/Cr&egrave;me_De_La_Cr&egrave;me_Muscle_Tee...    1   90  300  200
74844  img/Cr&egrave;me_De_La_Cr&egrave;me_Muscle_Tee...    1    1  300  300
74845  img/Cr&egrave;me_De_La_Cr&egrave;me_Muscle_Tee...  110   82  172  146
74846  img/Cr&egrave;me_De_La_Cr&egrave;me_Muscle_Tee...  198  124  258  166
74847  img/Cr&egrave;me_De_La_Cr&egrave;me_Muscle_Tee...  103  127  176  226
74848  img/Cr&egrave;me_De_La_Cr&egrave;me_Muscle_Tee...   84   38  244  266

In [51]:
tee = find_category(images, 'Tee')
blouse = find_category(images, 'Blouse')
dress = find_category(images, 'Dress')

In [52]:
blouse

                                             image_name  x_1  y_1  x_2  y_2
0       img/Sheer_Pleated-Front_Blouse/img_00000001.jpg   72   79  232  273
1       img/Sheer_Pleated-Front_Blouse/img_00000002.jpg   67   59  155  161
2       img/Sheer_Pleated-Front_Blouse/img_00000003.jpg   65   65  156  200
3       img/Sheer_Pleated-Front_Blouse/img_00000004.jpg   51   62  167  182
4       img/Sheer_Pleated-Front_Blouse/img_00000005.jpg   46   88  166  262
...                                                 ...  ...  ...  ...  ...
32846  img/Sheer_Lace_&_Chiffon_Blouse/img_00000130.jpg   73   77  182  279
32847  img/Sheer_Lace_&_Chiffon_Blouse/img_00000131.jpg    1    7  178  300
32848  img/Sheer_Lace_&_Chiffon_Blouse/img_00000132.jpg   42   69  205  267
32849  img/Sheer_Lace_&_Chiffon_Blouse/img_00000133.jpg   73   31  300  300
32850  img/Sheer_Lace_&_Chiffon_Blouse/img_00000134.jpg   42    2  259  208

[24557 rows x 5 columns]

truncate_images(tee.head(100))
truncate_images(blouse.head(100))
truncate_images(dress.head(100))

jeans = find_category(images, 'Jeans')
truncate_images(jeans.head(100))

skirt = find_category(images, 'Skirt')
truncate_images(skirt.head(100))

In [53]:
images = images.drop(images[images['image_name'].str.contains('Cr&egrave')].index, axis=0)
images[images['image_name'].str.contains('Cr&egrave;me_De_La_Cr&egrave;me_Muscle_Tee')]

Empty DataFrame
Columns: [image_name, x_1, y_1, x_2, y_2]
Index: []

In [54]:
truncate_images(images)